<!DOCTYPE HTML>
<html>
<head>
    <title>Main-page</title>
    <meta hhtp-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Enter message">
            <input type="text" name="tag" placeholder="Tag">
            <button type="submit">Add</button>
        </form>
    </div>

    <div>Message list</div>
    {{#message}}
        <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        </div>
    {{/message}}
</body>
</html>