<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main-page</title>
    <meta hhtp-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post" action="/main">
        <input type="text" name="text" placeholder="Enter message">
        <input type="text" name="tag" placeholder="Tag">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Add</button>
    </form>
</div>
<div>
    <form method="post" action="/delete">
        <input type="text" name="id" placeholder="Enter id">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Delete</button>
    </form>
</div>

<form method="post" action="/filter">
    <input type="text" name="filter" placeholder="Enter tag">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Find</button>
</form>
<div>Message list:</div>
<table>
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Tag</th>
        <th>Author</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td class="align-middle" th:text="${message.id}"></td>
        <td class="align-middle" th:text="${message.text}"></td>
        <td class="align-middle" th:text="${message.tag}"></td>
        <td class="align-middle" th:text="${message.author.username}"></td>
    </tr>
</table>
</body>
</html>